<nav class="navbar navbar-light bg-light">
  <span class="col-xs-1">
    <span *ngIf="!isLogedIn" class="navbar-brand text-center">
      <a [routerLink]="['/Welcome']">LG</a>
    </span>
    <button ng-disabled="isLogedIn" *ngIf="isLogedIn" id="togglerBtn" class="navbar-toggler" (click)="onToggle()">
      <i class="material-icons">menu</i>
    </button>
  </span>
  <span class="col-9">
    <ol *ngIf="isLogedIn" class="breadcrumb float-left" >
      <li *ngFor="let bc of breadCrumbs" class="breadcrumb-item " aria-current="page">{{bc}}</li>
    </ol>
  </span>
  <span *ngIf="!isLogedIn" class="col-2">
    <a class="btn float-right" [routerLink]="['/Login']">Login</a>
    <a class="btn float-right" [routerLink]="['/Register']">Register</a>
  </span>
  <span *ngIf="isLogedIn" class="col-2">
    <div class="dropdown">
      <a class="dropdown-toggle float-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">{{username}}</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" [routerLink]="['/Home']">Home</a>
        <a class="dropdown-item" [routerLink]="['/Home/Profile', id]">Profile</a>
        <a class="dropdown-item" (click)="logOut()">Log out</a>
      </div>
    </div>
    <i class="material-icons float-right">account_circle</i>
  </span>
</nav>