#togglerBtn {
  display: none;
}

@media (max-width: 768px) {
  #togglerBtn {
    display: block;
  }
}

.shadow {
  border-bottom: rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075) !important;
}

.dropdown-profile {
  cursor: pointer;
}
