<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 navbar navbar-light bg-light shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal navbar-brand" *ngIf="!isLogedIn">
    <a [routerLink]="['/Welcome']">LG</a>
  </h5>
  <div *ngIf="isLogedIn" style="min-width: 90vw;" id="togglerBtn" >
    <button ng-disabled="isLogedIn" class="navbar-toggler" (click)="onToggle()">
      <i class="material-icons">menu</i>
    </button>
  </div>
  <ol *ngIf="isLogedIn" class="breadcrumb">
    <li *ngFor="let bc of breadCrumbs" class="breadcrumb-item " aria-current="page">{{bc}}</li>
  </ol>
  <nav class="my-2 my-md-0 mr-md-3">
    <span *ngIf="!isLogedIn">
      <a class="btn" [routerLink]="['/Login']">Log In</a>
      <a class="btn btn-outline-primary" [routerLink]="['/Register']">Register</a>
    </span>
    <span *ngIf="isLogedIn">
      <span class="dropdown">
        <a class="dropdown-toggle dropdown-profile" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{username}}</a>
        <span class="dropdown-menu dropdown-profile" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" [routerLink]="['/Home']">Home</a>
          <a class="dropdown-item" [routerLink]="['/Home/Profile', id]">Profile</a>
          <a class="dropdown-item" (click)="logOut()">Log out</a>
        </span>
      </span>
      &nbsp;
      <i class="material-icons float-right">account_circle</i>
    </span>
  </nav>

</div>