<app-navbar></app-navbar>
<img src="../../assets/images/home.jpg" alt="Welcome" class="welcome-image" />

<div class="container">

  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <a [routerLink]="['/Welcome']">
          <h3>LG</h3>
        </a>
        <small class="d-block mb-3 text-muted">&copy; 2018</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Cool stuff</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Random feature</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Team feature</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Stuff for developers</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Another one</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Last time</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Resource</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Resource name</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Another resource</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Final resource</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Team</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Locations</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Privacy</a>
          </li>
          <li>
            <a class="text-muted" [routerLink]="['/Welcome']">Terms</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>